
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/css.css}">
    <title>Quản lý màu sắc</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/chi-tiet-san-pham/hien-thi">Sản phẩm chi tiết</a></li>
        <li><a href="/mau-sac/hien-thi">Màu sắc</a></li>
        <li><a href="/nha-san-xuat/hien-thi">NSX</a></li>
        <li><a href="/san-pham/hien-thi">Sản phẩm</a></li>
        <li><a href="/dong-san-pham/hien-thi">Dòng sản phẩm</a></li>
        <li><a href="/nhan-vien/hien-thi">Nhân viên</a></li>
        <li><a href="/cua-hang/hien-thi">Cửa hàng</a></li>
        <li><a href="/chuc-vu/hien-thi">Chức vụ</a></li>
    </ul>
</nav>

<nav>
    <div class="logo">Quản lý màu sắc</div>
</nav>
<form th:action="@{/chi-tiet-san-pham/update/{id}(id=${ctsp.id})}" th:object="${ctsp}" method="post">
    <table>
        <tr>
            <td>Tên sản phẩm</td>
            <td>
                <select th:field="*{sanPham}">
                    <option th:each="ten : ${listSp}" th:value="${ten.id}" th:text="${ten.ten}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Dòng sản phẩm</td>
            <td>
                <select th:field="*{dongSanPham}">
                    <option th:each="ten : ${listDongSP}" th:value="${ten.id}" th:text="${ten.ten}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Màu sắc</td>
            <td>
                <select th:field="*{mauSac}">
                    <option th:each="ten : ${listMs}" th:value="${ten.id}" th:text="${ten.ten}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Nhà sản xuất</td>
            <td>
                <select th:field="*{nhaSanXuat}">
                    <option th:each="ten : ${listNsx}" th:value="${ten.id}" th:text="${ten.ten}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Năm bảo hành</td>
            <td><input type="number" th:field="*{namBH}" /></td>
        </tr>
        <tr>
            <td>Mô tả</td>
            <td><input th:field="*{mota}" /></td>
        </tr>
        <tr>
            <td>Số lượng tồn</td>
            <td><input type="number" th:field="*{soLuongTon}" /></td>
        </tr>
        <tr>
            <td>Gía nhập</td>
            <td><input type="number" th:field="*{giaNhap}" /></td>
        </tr>
        <tr>
            <td>Gía bán</td>
            <td><input th:field="*{giaBan}" /></td>
        </tr>
        <tr>
            <td><button type="submit" class="button">Update</button></td>
        </tr>
    </table>
</form>
<footer>
    <div class="footer-content">
        <p>&copy; 2023 Quản lý sản phẩm. All rights reserved.</p>
        <ul>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Điều khoản</a></li>
            <li><a href="#">Bảo mật</a></li>
        </ul>
    </div>
</footer>
</body>
</html>

