
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/css.css}">
    <title>Quản lý màu sắc</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/chi-tiet-san-pham/hien-thi">Sản phẩm chi tiết</a></li>
        <li><a href="/mau-sac/hien-thi">Màu sắc</a></li>
        <li><a href="/nha-san-xuat/hien-thi">NSX</a></li>
        <li><a href="/san-pham/hien-thi">Sản phẩm</a></li>
        <li><a href="/dong-san-pham/hien-thi">Dòng sản phẩm</a></li>
        <li><a href="/nhan-vien/hien-thi">Nhân viên</a></li>
        <li><a href="/cua-hang/hien-thi">Cửa hàng</a></li>
        <li><a href="/chuc-vu/hien-thi">Chức vụ</a></li>
    </ul>
</nav>

<nav>
    <div class="logo">Quản lý màu sắc</div>
</nav>
<form action="/mau-sac/update/${ms.id}" th:object="${ms}" method="post">
    <table>
        <tr>
            <td>Mã màu sắc</td>
            <td><input type="text" th:field="*{ma}" /></td>
        </tr>
        <tr>
            <td>Tên màu sắc</td>
            <td><input type="text" th:field="*{ten}" /></td>
        </tr>
        <tr>
            <td><button type="submit" class="button">Update</button></td>
        </tr>
    </table>
</form>

<footer>
    <div class="footer-content">
        <p>&copy; 2023 Quản lý sản phẩm. All rights reserved.</p>
        <ul>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Điều khoản</a></li>
            <li><a href="#">Bảo mật</a></li>
        </ul>
    </div>
</footer>
</body>
</html>

