
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/css.css}">
    <title>Quản lý cửa hàng</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/chi-tiet-san-pham/hien-thi">Sản phẩm chi tiết</a></li>
        <li><a href="/mau-sac/hien-thi">Màu sắc</a></li>
        <li><a href="/nha-san-xuat/hien-thi">NSX</a></li>
        <li><a href="/san-pham/hien-thi">Sản phẩm</a></li>
        <li><a href="/dong-san-pham/hien-thi">Dòng sản phẩm</a></li>
        <li><a href="/nhan-vien/hien-thi">Nhân viên</a></li>
        <li><a href="/cua-hang/hien-thi">Cửa hàng</a></li>
        <li><a href="/chuc-vu/hien-thi">Chức vụ</a></li>
    </ul>
</nav>

<nav>
    <div class="logo">Quản lý cửa hàng</div>
</nav>
<form th:action="@{/cua-hang/add}" th:object="${ch}" method="post">
    <table>
        <tr>
            <td>Mã cửa hàng</td>
            <td><input type="text" th:field="*{ma}" /></td>
            <td style="color: red"><span th:errors="*{ma}"></span></td>
        </tr>
        <tr>
            <td>Tên cửa hàng</td>
            <td><input type="text" th:field="*{ten}" /></td>
            <td style="color: #ff0000"><span th:errors="*{ten}"></span></td>
        </tr>
        <tr>
            <td>Địa chỉ</td>
            <td><input type="text" th:field="*{diaChi}" /></td>
            <td style="color: #ff0000"><span th:errors="*{diaChi}"></span></td>
        </tr>
        <tr>
            <td>Thành phố</td>
            <td><input type="text" th:field="*{thanhPho}" /></td>
            <td style="color: #ff0000"><span th:errors="*{thanhPho}"></span></td>
        </tr>
        <tr>
            <td>Quốc gia</td>
            <td><input type="text" th:field="*{quocGia}" /></td>
            <td style="color: #ff0000"><span th:errors="*{quocGia}"></span></td>
        </tr>
        <tr>
            <td><button type="submit" class="button">Add</button></td>
        </tr>
    </table>
</form>

<table>
    <thead>
    <td>STT</td>
    <td>Mã</td>
    <td>Tên</td>
    <td>Địa chỉ</td>
    <td>Thành phố</td>
    <td>Quốc gia</td>
    <td>Action</td>
    </thead>
    <tbody>
    <tr th:each="ms, stt : ${list.content}">
        <td th:text="${stt.index}"></td>
        <td th:text="${ms.ma}"></td>
        <td th:text="${ms.ten}"></td>
        <td th:text="${ms.diaChi}"></td>
        <td th:text="${ms.thanhPho}"></td>
        <td th:text="${ms.quocGia}"></td>
        <td>
            <a th:href="@{/cua-hang/delete/{id}(id=${ms.id})}" class="button">Delete</a>
            <a th:href="@{/cua-hang/detail/{id}(id=${ms.id})}" class="button">Detail</a>
            <a th:href="@{/cua-hang/view-update/{id}(id=${ms.id})}" class="button">Update</a>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li th:each="page : ${#numbers.sequence(0, list.totalPages - 1)}" th:class="${list.number == page ? 'page-item active' : 'page-item'}">
            <a th:href="@{/cua-hang/hien-thi(page=${page})}" class="page-link" th:text="${page}"></a>
        </li>
    </ul>
</nav>

<footer>
    <div class="footer-content">
        <p>&copy; 2023 Quản lý sản phẩm. All rights reserved.</p>
        <ul>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Điều khoản</a></li>
            <li><a href="#">Bảo mật</a></li>
        </ul>
    </div>
</footer>
</body>
</html>

